
.menubtn{
    position: absolute;
    top: 50%;
    background-color: #7f7f7f80;
    border: 3px solid;
    font-weight: 600;
    font-size: 30px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15%;
    color: white;
  text-shadow: 2px 2px 4px #000000;
}

body{
    overflow-x: hidden !important;
}